@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/*--- Nav Font --*/

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
/*--- Main title font --*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Kaushan Script', serif;
  font-size: 300%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 2%;
  text-shadow: 0px 0px 250px #000;
}

h2 {
  font-size: 200%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  padding-top: 4%;
  text-decoration: none;
}

h3, h4{
  color: #fff;
  padding-top: 4%;
}

h4 img {
  max-width: 80px;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  font-size: 100%;
  line-height: 180%;
  font-weight: 800;
  margin-bottom: 0;
  text-align: justify;
}

img {
  text-align: center;
  max-width: 60%;
  height: auto;
  width: auto;
}

.clearfix {
  clear: both;
}
/* Navigation menu */

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', serif, cursive;
}

nav.navbar {
  background-color: #ccc; // Animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.3s ease;
}

.navbar {
  background-color: #666;
  height: 80px;
}

nav a:hover {
  background-color: #26a5d3;
  text-shadow: none;
}

.navbar.compressed {
  height: 50px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/*-- Intro --*/

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("../img/producer3.jpg") no-repeat 50% 50%;
  filter: alpha(opacity=30);
  -moz-opacity: 0.9;
  opacity: 0.9;
  background-size: cover;
  display: table;
  top: 0;
}

.content {
  max-width: 800px;
  margin: auto;
}

.content p {
  padding-right: 50%;
  padding-top: 5%;
  font-size: 140%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
  margin: auto;
  font-size: 120%;
  line-height: 1.6;
  padding: 10px;
}

/*-- Other --*/
#about h2, .contact h2, #demo h2 {
  color: #2c2c2c;
}

.sidepic {
  width: 26%;
  float: right;
  margin: 4%;
}

.contact p {
  text-align: center;
  color: #212529;
}

.contact a {
  color: #2C2C2C;
}

/*-- Other --*/

hr.dark-line {
  max-width: 15rem;
  padding: 0;

  border-top: solid 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: #2c3e50
}

.parallax {
  background: url("../img/scene1.jpg") repeat 100%;
  max-height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 17%;
  width: 100% auto;
}

.parallax2 {
  background: url("../img/scene2.jpg") repeat 100%;
  max-height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 17%;
  width: 100% auto;
}

#services {
  background-color: #35b2fc;
  padding-top: 1%;
  padding-bottom: 5%;
    text-align: center;
}

#about {
  background: #f8f9fa;
  padding-top: 3%;
  padding-bottom: 5%;
}

#price {
  background: #35b2fc;
  padding: 3% 0;
}

#demo {
  background: #fff;
}

#faq {
  background-color: #35b2fc;
    padding: 4.5% 0;
}

.p-5 p {
  color: #212529;
}

/*-- FAQ --*/

.acc-container {
  width: 60%;
  margin: 30px auto 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.acc-btn {
  width: 100%;
  margin: 0 auto;
  padding: 20px 25px;
  cursor: pointer;
  background: #34495E;
  border-bottom: 1px solid #2C3E50;
}

.acc-content {
  height: 0px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: #2C3E50;
}

.acc-content-inner {
  padding: 30px;
}

.open {
  height: auto;
}

.acc-btn h1 {
  font: 700 20px/26px 'Lato', sans-serif;
  color: #ffffff;
}

.acc-content-inner p {
  font: 400 16px/24px 'Lato', sans-serif;
  color: #798795;
}

.selected {
  color: #1ABC9C;
}

/*-- Contact --*/

#contact {
  background: #fff;
  color: #212529;
  padding-bottom: 80px;
  text-align: center;
}

textarea.form-control {
  height: 100px;
}

.contact-form {
  text-align: center;
}

footer {
  clear: both;
  background: #333333;
  height: 50px;
  text-align: center;
  color: #cccccc;
  font-size: 12px;
  line-height: 50px;
}

.footer p {
  color: #FFF;
  text-align: center;
  margin: 5%;
}

@media screen and (max-width: 768px) {

  nav ul, nav:active ul {
    padding: 8px 0;
    left: 23px;
    top: 34px;
    width: 100%;
    text-align: center;
  }

  p ul li {
    color: #FFF;
  }
  h2 {
    font-size: 160%;
  }
  .parallax .parallax2{
    display: none;
  }
}

/** Starting **/



@media (min-width:576px) {
    .portfolio {
        margin-bottom: -30px
    }
    .portfolio .portfolio-item {
        margin-bottom: 30px
    }
}

.portfolio-modal .portfolio-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, .5);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, .5)
}

.portfolio-modal .portfolio-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
    line-height: 38px
}

.portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 2rem
}

@media (min-width:768px) {
    .portfolio-modal .portfolio-modal-dialog {
        min-height: 100vh;
        padding: 5rem;
        margin: 3rem calc(3rem - 8px)
    }
    .portfolio-modal .portfolio-modal-dialog h2 {
        font-size: 3rem
    }
}

.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    box-shadow: none!important
}

.floating-label-form-group label {
    font-size: .85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1
}

.floating-label-form-group-with-focus label {
    color: #18bc9c
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e9ecef
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff
}

.copyright {
    background-color: #1a252f
}

a {
    color: #18bc9c
}

a:active,
a:focus,
a:hover {
    color: #128f76
}

.btn {
    border-width: 2px
}

.bg-primary {
    background-color: #18bc9c!important
}

.bg-secondary {
    background-color: #2c3e50!important
}

.text-primary {
    color: #18bc9c!important
}

.text-secondary {
    color: #2c3e50!important
}

.btn-primary {
    background-color: #18bc9c;
    border-color: #18bc9c
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #128f76;
    border-color: #128f76
}

.btn-secondary {
    background-color: #2c3e50;
    border-color: #2c3e50
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    background-color: #1a252f;
    border-color: #1a252f
}
